{
    "presets": ["@babel/preset-env", "@babel/preset-react"],
    "plugins": [
        "react-hot-loader/babel",
        "@babel/plugin-transform-runtime",
        "@babel/plugin-proposal-class-properties",
        "macros",
        "syntax-dynamic-import",
        "transform-class-properties"
    ],
    "env": {
        "test": {
            "plugins": ["dynamic-import-node"]
        }
    }
}
